@import url("https://fonts.googleapis.com/css?family=Coming+Soon");

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Coming Soon", cursive;
  font-size: 1.6rem;
  overflow: hidden;
}
